PUID=1000
PGID=1000
TZ=Europe/Madrid
CONFIG_DIR=./config
# Use your external disk mount path for media/download data.
DATA_DIR=/mnt/external-disk/jellyfin-stack/data
DOWNLOAD_DIR=/mnt/external-disk/jellyfin-stack/data/torrents
RADARR_API_KEY=
SONARR_API_KEY=